// Set your breakpoints' names and sizes
$breakpoints: (
	sm: 320,
	md: 768,
	lg: 1024
);

// Set breakpoint unit
$unit: 'px';
// Set you max columns
$max-cols: 12;
// Set columns you want to ignore separated by comma e.g 7,8
$ignore: '3';
